      <%- include('includes/header-home') %>
      <button title="Darkmode" id="dark-mode-toggle" aria-label="toggle dark mode" class="dark-moon-log"><i class="fas fa-moon  login-animate dark-mode-toggle " ></i></button>
      </header>


      <main style="padding: 0% 20%;">
         <br>
         <section class="error-404">
            <h3>Whoops, we can't find that page.</h3>
            <small>You can always visit our <a href="/">homepage</a> to get a fresh start.</small><br>
            <hr>
         </section>
      </main>



      <%- include('includes/footer') %>


      <%- include('includes/script-footer') %>
   </body>
</html>